.site-heading {
    margin-top: 1%;
    width: fill;
    height: 600px;
    background-image: url('./img/loggerhead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:justify;
    font-size: 110px;
    color:#D9D8B6;
    opacity: 0.8;


}

.body{
    background-color:#B6CBD9;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    position: relative; 
}

.logo {
    position: absolute; 
    top: 10px;
    left: 10px;
    width: 80px; 
    height: 60px;
}

.topnav {
    background-color: #848353;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #00385B;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #D9B6B6;
    display: block;
    color: #D9D8B6;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #31471d;
    color: #D9D8B6;
  }
  
  .active {
    background-color: #00385B;
    color: #D9D8B6;
  }


.sub-heading {
    text-align: center;
    color:#592929;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    border-radius: 2%;
    background: #00385B; 
    color:#D9D8B6;
    padding: 2%;
    width: 9%;
    height: 4%;

}


.footer {
        background: #592929; 
        padding: 1%;
        width: max-width;
        color: #D9D8B6;
        height: 4%;
        text-align: center;
        font-size:small;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
}
